{% extends 'base.html' %}
{% block content %}
    <div class="container my-5">
            <table class="table">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Week</th>
                        <th scope="col">PARA</th>
                        {% for group in groups %}
                            <th scope="col">{{ group }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>

                {% for table in tables %}
                    <tr>
                        <td>{{ table.week }}</td>
                        <td>{{ table.shift }}</td>
                        <td>{{ table.table_id.lesson }} - {{ table.table_id.time }}</td>
                        <td></td>
                    </tr>
                 {% endfor %}
                </tbody>
            </table>
    </div>
{% endblock %}


{#{% extends 'base.html' %}#}
{#{% block content %}#}
{#    <div class="container my-5">#}
{#        <table class="table">#}
{#            <thead class="table-dark">#}
{#                <tr>#}
{#                    <th scope="col">Lesson</th>#}
{#                    <th scope="col">Group</th>#}
{#                    <th scope="col">ID</th>#}
{#                </tr>#}
{#            </thead>#}
{#            <tbody>#}
{#            {% for lesson, tables in grouped_tables.items %}#}
{#                <tr>#}
{#                    <td rowspan="{{ tables|length }}">{{ lesson }}</td>#}
{#                    {% for table in tables %}#}
{#                        <td>{{ table.group.name }}</td>#}
{#                        <td>{{ table.id }}</td>#}
{#                    </tr>#}
{#                    {% if not forloop.last %}#}
{#                    <tr>{% endif %}#}
{#                    {% endfor %}#}
{#            {% endfor %}#}
{#            </tbody>#}
{#        </table>#}
{#    </div>#}
{#{% endblock %}#}

